[repository]
path = "/mnt/c/Users/josef/source/eurowag/Aequitas/Database/Migrates"

[database]
integrated = false
username = "cli"
password = "clipassword"
server = "172.19.64.1"
port = 1433
name = "AEQDB_DEV"
